django~=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
mysqlclient
minio
langchain>=1.0
langchain-classic
langchain-openai
langchain-community
langchain-text-splitters
chromadb
pymupdf
docx2txt
openpyxl
drf-spectacular
openai
pydantic
requests
gunicorn
